@mixin fontBold {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin fontRegular {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}


@mixin breakpoin($point) {
    @if $point == lg{
        @media (max-width: 992px){@content;} 
    }

    @else if $point==md {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $point==sm {
        @media (max-width: 678px) {
            @content;
        }
    }

    @else if $point==xs {
        @media (max-width: 332px) {
            @content;
        }
    }
    
}

@import 'header';
@import 'main';
@import 'footer';

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    @include breakpoin(lg){
        max-width: 768px;
    }

    @include breakpoin(md) {
        max-width: 663px;
    }

    @include breakpoin(sm) {
    padding: 0 ;
    }

}

.back-ground {
    width: 100%;
    object-fit: cover;

    @include breakpoin(sm) {
        display: none;
    }
}




