header.header
    .logo-mobile
        img.logo-mobile__img(src="/img/logotypemobile.png", alt="logo mobile")
    nav.nav-mobile 
        ul.nav-mobile__item
            li.nav-mobile__list Главная
        button.nav-mobile__burger
            img.burger__img(src="/img/menubutton.png", alt="")
    .modal-login__desktop
        .modal-login
            button.modal-login__desktop-close
            h2.modal-login__title Личный кабинет
            p.modal-login__discription Введите свой логин и пароль, чтобы войти
            form.modal-login__form(action="")
                input.modal-login__input(type="text" placeholder="Логин")
                img.input__img(src="", alt="")
                input.modal-login__input(type="password" placeholder="Пароль")
                img.input__img(src="", alt="")
            .modal-login__config
                input.modal-login__checkbox(type="checkbox" id="save") 
                span Запомнить меня
                a.modal-login__restore-pasword(href="#") Забыли пароль?
            .modal-login__button
                button.modal-login__button_desktop Войти в личный кабинет
                button.modal-login__button_open Войти
                button.modal-login__button_close Закрыть
    .overhiden-baar 
    .nav-mobile__menu
        button.nav-mobile__desktop-close
        ul.nav__list
            li.list__item
                a.itam__link(href="#").
                    Главная
            li.list__item
                a.itam__link(href="#").
                    Наши работы
            li.list__item
                a.itam__link(href="#").
                    Записаться
            li.list__item
                a.itam__link(href="#").
                    Контакты
            li.list__item
                a.itam__link(href="#").
                    html academy
            li.list__item.modal-window
                a.itam__link(href="#").
                    Войти
    .header__nav-item
        .wrapper
            nav.header__nav.nav
                ul.nav__list
                    li.list__item.list__item_active
                        a.itam__link(href="#").
                            Главная
                    li.list__item
                        a.itam__link(href="#").
                            Наши работы
                    li.list__item
                        a.itam__link(href="#").
                            Записаться
                    li.list__item
                        a.itam__link(href="#").
                            Контакты
                    li.list__item
                        a.itam__link(href="#").
                            html academy
                    li.list__item.modal-window-desktop
                        a.itam__link(href="#").
                            Войти