header.header
    .header__nav-item
        .wrapper
            nav.header__nav.nav
                ul.nav__list
                    li.list__item.list__item_active
                        a.itam__link(href="#").
                            Главная
                    li.list__item
                        a.itam__link(href="#").
                            Наши работы
                    li.list__item
                        a.itam__link(href="#").
                            Записаться
                    li.list__item
                        a.itam__link(href="#").
                            Контакты
                    li.list__item
                        a.itam__link(href="#").
                            html academy
                    li.list__item
                        a.itam__link(href="#").
                            Войти