main.main__content
    img.main__back-ground.back-ground(src="../../img/header-bg.png", alt="Хедер Фон", height=649)
    .wrapper
        .main__logo.logo
            a.logo__link(href="#")
                img.logo__img(src="../../img/logo.png", alt="Лого") 
        section.main__statistics
            .statistics__info
                h2.statistics__title.
                    Стрижка у нас
                    это выгодно!
                p.info__discription.
                    Мужская стрижка требует
                    точного подхода. Обратимся
                    к статистике:
                span.statistics__folse-date.
                    * — приведённые данные ложь
            .statistics__date
                p.statistics__meta-date 1500
                    span.folse *
                p.statistics__discription.
                    рублей вложений
            .statistics__date
                p.statistics__meta-date.
                    90 000
                p.statistics__discription.
                    постриженных волос
            .statistics__date
                p.statistics__meta-date.
                    7 200
                p.statistics__discription.
                    секунд времени мастера
            .statistics__date
                p.statistics__meta-date 500 000
                    span.folse *
                p.statistics__discription.
                    лайков и комплиментов
    .manifest-bg
        .wrapper    
            section.manifest
                .manifest__item
                    img.manifest__img(src="../../img/advantage.png", alt="")
                    .manifest__discription 
                        h3.manifest__title.
                            Быстро
                        p.manifest__text.
                            Мы делаем свою работу быстро!
                            Два часа пролетят незаметно
                            и вы — счастливый обладатель
                            стильной стрижки-минутки                    
                .manifest__item
                    img.manifest__img(src="../../img/advantage-2.png", alt="")
                    .manifest__discription    
                        h3.manifest__title.
                            Круто
                        p.manifest__text.
                            Забудьте как вы стриглись
                            раньше. Мы сделаем из вас
                            звезду футбола или кино.
                            Во всяком случае внешне.
                .manifest__item
                    img.manifest__img(src="../../img/advantage-3.svg", alt="")
                    .manifest__discription    
                        h3.manifest__title.
                            Дорого
                        p.manifest__text.
                            Наши мастера — профессионалы
                            своего дела не могут стоить
                            дёшево. К тому же, разве цена
                            не даёт определённый статус?
    .bg-news
        .wrapper    
            section.news
                .news__item   
                    h2.news__title.
                        Новости и Акции
                    a.news__link(href="#").
                        Показать все
                .news__discription-item     
                    p.news__discription Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.
                        img.discription__img(src="/img/day-mouth.png", alt="", width="50", height="60")
                    p.news__discription В нашей команде пополнение, Борис «Бритва» Стригунец, пополнил наши стройные ряды. Спешите записаться!
                        img.discription__img(src="/img/day-mouth.png", alt="", width="50", height="60")
                    p.news__discription Все дорожает, а наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чем здесь подвох!
                        img.discription__img(src="/img/day-mouth.png", alt="", width="50", height="60")
            section.reviews
                .reviews__discription-item
                    h2.reviews__title Отзывы о нас
                    a(href="#").reviews__link Оставить свой
                .reviews__person    
                    button.person__button-next 
                    button.person__button-back
                    .person__about
                        .person__img
                        .person__about-item                        
                            h2.about__name Трэвис Баркер
                            p.about__discription Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
                .reviews__pogination    
                    ul.pogination__pogination-item
                        li.pogination__pogination-list 
                        li.pogination__pogination-list 
                        li.pogination__pogination-list 
